In [1]:
import pandas as pd

In [2]:
measurements_df = pd.read_csv("hawaii_measurements.csv", encoding="utf-8")
stations_df = pd.read_csv("hawaii_stations.csv", encoding="utf-8")

In [3]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Inspect the data types
measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [5]:
# Inspect the data types
stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [6]:
# Drop null values
measurements_df = measurements_df.dropna(how='any')

In [7]:
# Drop null values
stations_df = stations_df.dropna(how="any")

In [8]:
# Export the files to csv
measurements_df.to_csv("Output/measurements_clean.csv", index=False, header=True)
stations_df.to_csv("Output/stations_clean.csv", index=False, header=True)